#home {

	background-color: #f6f6f6;
}

#file-img{

	position: absolute;  
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;    
        top: 0;  /*Centering the image*/
        bottom: 0;    /*Centering the image*/
        left: 0;   /*Centering the image*/
        right: 0;   /*Centering the image*/
        margin: auto;
        border: 1px solid grey;
}

#J{

		position: absolute;  
		top: 0;  /*Centering the image*/
    	bottom: 0;    /*Centering the image*/
   		 left: 0;   /*Centering the image*/
    	right: 0;   /*Centering the image*/
        height: 160px;  
        width: 450px; 
        margin: auto;
        border: 1px solid grey;
}

#f{
	position: absolute;  
		top: 0;  /*Centering the image*/
    	bottom: 0;    /*Centering the image*/
   		 left: 0;   /*Centering the image*/
    	right: 0; 
	height: 130px;
	width: 500px;
	margin: auto;
        border: 1px solid grey;
}

#title-row {

	padding: 15px;
	font-size: 40px;
	text-align: center;
	font-family: 'Ubuntu';
	background-color: powderblue;
	border-style: solid;
}

#logo-row {

	background-color: white;
	border-style: solid;
	margin: auto;
	font-family: 'Ubuntu';
}

#logo{
	padding-top: 10px;
	height: 65px;
	width: 200px;
	display: block;
	float: 0;
	margin: 0px;
}

#t1 {
	padding-top: 10px;
	font-size: 40px;
	color: black;
	padding-bottom: 9px;
}

#t {
	padding-top: 10px;
	font-size: 40px;
	color: black;
}

#info-row {
	font-family: "Arial";
	padding: 10px;
	font-size: 13px;

}

#about {
	text-align: center;
	font-size: 35px;
	margin-top: 15px;
}

#intro {

	font-size: 18px;
	float: 0;
}


#stat {
	height: 500px;
	width: 700px;
	background-color: #1D2541;
	color: white;
	font-size: 20px;

}

.glyphicon.glyphicon-download{
	font-size: 300px;
	display: block;
	padding-top: 50px;
	text-align: center;
}

#glyph:hover {

	text-decoration: none;
}

.carousel {
	height: 500px;
	width: 700px;
	color: white;
	font-size: 40px;
	margin: 30px;
}

.carousel-inner > .item > col{
    margin: auto;
    text-align: center;
}


#title-row2 {
	text-align: center;
	font-family: "Arial";
	padding: 5px 5px;
	border-style: solid;
	background-color: lightgrey;
	margin-bottom: 5px;
}

#j-logo {
	width: 50px;
	height: 50px;
	border: 3px solid #808080;
	border-radius: 5px;
	padding: 5px;
	background-color: white;
}


body {
	background-color: white;
	padding-top: 50 px;
	padding-bottom: 50 px;
	font-family: "Arial";
}



/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
/*
.container {
	width: 1100px;
}*/


#gmt-select{
	text-align: center;
	width: 685px;
    margin: 0 auto;

}

/*D3 network styling*/


.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#display {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 50px;
}

table{

	margin-top: 25px;
}

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    font-size: 12px;
    table-layout:fixed;
}

th, td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #e7e7e7;
}

tr:nth-child(odd) {
    background-color: #fff;
}

td{
	width:1px;
	white-space:nowrap;
}


th {
    text-align: left;
    color: white;
    background-color: black;
}

ul    {

 list-style:inside;
 margin:3px; 
 padding-left:0px;

}
