<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel='shortcut icon' type = 'image/ico' href="{{url_for('static', filename='favicon.ico')}}" >

<body id="home">

<div id="logo-row" class="row">
		<div class="col-4 text-center">
			<img id= "logo" src="{{url_for('static', filename='Logo.png')}}" align="left">
		</div>
		<div id="t" class="col-4 text-center">
		<p>Help</p>
		</div>
	</div>

<title>Help</title>
<div class="topnav" id="myTopnav">
 		<a href="/BINDer">Home</a>
 		<a href="/BINDer/help">Help</a>
  		<a href="/BINDer/contribute">Contribute</a>
 		<a href="/BINDer/kinases">Kinase-Substrate Networks</a>
  		<a href="/BINDer/proteins">Protein-Protein Networks</a>
  		<a href="/BINDer/tf">TF-Target Networks</a>
  </div>


	<div id = "info-row" class="container">
	<div class="container">
		<div class="row">
			<div class= "col-12">
				<h2 id="about"> <b>Understanding The Basics</b> </h2>
				<br>
				<br>
			</div>
		<div class="row">
			<div class="col-6">
				<img src="{{url_for('static', filename='HelpDownload.png')}}" id="J">
			</div>
			<div class="col-6" id="help-text">
				<p> <b> How do I download the raw data? </b>
				<br>For most of the interactions databases, the name of the database in the data tables will also serve as a link to the original website. From there, you can directly download the raw data from the website. Some databases no longer exist, so data may not be available for download.
				</p>
			</div>
		</div>
			<br>
			<br>
		<div class="row">
			<div class="col-6">
				<img src="{{url_for('static', filename='GMT.png')}}" id="file-img">
			</div>
			<div class="col-6" id="help-text">
				<p> <b> What is a GMT file? </b>
				<br>GMT files are used to describe gene sets, as each row corresponds to a different gene set. Each row lists a name (for example, a kinase in kinase-substrate interactions), a description, and the genes in the gene set (in this example, all of the substrates that interact with the kinase). Gene sets must have a minimum of five genes and a maximum of 2000 genes in order to be included in the gmt file. Only mice and human samples from the original data are included in the GMT file.
				</p>
			</div>
		</div>
				<br>
		<div class="row">
			<div class="col-6">
				<img src="{{url_for('static', filename='SIG.png')}}" id="file-img">
			</div>
			<div class="col-6" id="help-text">
				<p> <b> What is a SIG file? </b>
				<br>SIG files represent gene interaction networks, also listed by row. In each row, the columns represent: source name, source human accession, source mouse accession, source type, source location, target name, target human accession, target mouse accession, target type, target location, effect, type of interaction, and lastly PubMed IDs. Some of these fields may be filled with 'NA' if information is not available to fill the column. All gene interactions are included in the SIG file, regardless of whether the aggregated gene set has fewer than five or more than 2000 genes. Only mice and human samples from the original data are included in the SIG file.
				</p>
			</div>
		</div>

			<br>
		<div class="row">
			<div class="col-6">
				<img src="{{url_for('static', filename='Notebook.png')}}" id="J">
			</div>
			<div class="col-6" id="help-text">
				<p> <b> What is a Jupyter Notebook? </b>
				<br>A Jupyter Notebook is a document containing live code, which can be created using the Jupyter web application. The data processing for all of the databases is written in Python 3, and the Jupyter Notebook for each interaction database can be viewed by selecting the Jupyter icon in the data tables. There, the code for data processing should be clearly annotated by comments explaining the methods.
				</p>
			</div>
		</div>

		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-6">
				<img src="{{url_for('static', filename='Filtering.png')}}" id="f">
			</div>
			<div class="col-6" id="help-text">
				<p> <b> What do 'Filtered' and 'Unfiltered' refer to? </b>
				<br>For protein-protein networks, two options are available to download: 'Filtered' or 'Unfiltered' files. The 'Filtered' GMT and SIG files remove data related to PMIDs that correspond to more than ten interactions, while the 'Unfiltered' GMT and SIG files include these itneractions regardless of PMID.
				</p>
			</div>
		</div>
</div>
</div>






	<div id="scripts">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</div>
</body>
</html>