<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel='shortcut icon' type = 'image/ico' href="{{url_for('static', filename='favicon.ico')}}" >

<body>

<div class="topnav" id="myTopnav">
 		<a href="/BINDer">Home</a>
 		<a href="/BINDer/help">Help</a>
 		<a href="/BINDer/kinases">Kinases</a>
  		<a href="/BINDer/proteins">PPI</a>
  		<a href="/BINDer/tf">TF</a>
  </div>


	<div id="title-row" class="row">
					<div class="col text-center">
						<h1>Help</h1>
					</div>
				</div>

	<div id = "info-row" class="container-fluid">
	<div class="container">
		<div class="row">

			<div class= "col-12">
				<h2> <b>Overview</b> </h2>
				<hr width="50%" class="my-2">
				<p> 
				<br><b> About This Project </b>
				<br>
				KEA2 (Kinase Enrichment Analysis 2) is a tool which takes an input of a gene list and outputs a list of associated kinases. This tool was originally built in 2009, but many kinase-substrate databases that were originally curated have expanded and new kinase-substrate databases have emerged. Thus, the purpose of the KEA3 project is to collect and process new data pertaining to kinase-substrate interactions and expand the KEA2 database, ultimately allowing for a more comprehensive understanding of the human kinome. Thus far, kinase-substrate interactions have been integrated from seven databases, and the data from each has been converted into GMT and SIG files, found in the "Kinase-Substrate Networks" tab. 

				<br>

				<br><b> What is a GMT file? </b>
				<br>GMT files are used to describe gene sets, as each row corresponds to a different gene set. Each row lists a name (for example, a kinase in kinase-substrate interactions), a description, and the genes in the gene set (in this example, all of the substrates that interact with the kinase).

				<br>
				<br><b> What is a SIG file? </b>
				<br>SIG files represent gene interaction networks, also listed by row. In each row, the columns represent: source name, source human accession, source mouse accession, source type, source location, target name, target human accession, target mouse accession, target type, target location, effect, type of interaction, and lastly PubMed IDs. Some of these fields may be filled with 'NA' if information is not available to fill the column.

				<br>
				<br><b> Other Files </b>
				<br> For the kinase-substrate interaction networks, in addition to the GMT and SIG files (described above), a GMT file for the combined data will also be created. From this combined data file, another GMT file is included, in which genes are ranked according to their level of co-expression with the kinase. To be included in the GMT, genes must also meet a co-expression cut-off, so if only some genes meet this cut-off a kinase may have fewer entries than in the original GMT. The methods to determine this cut-off are included in corresponding R files.
				<br>

				<br><b> What else is on this website?</b>
				<br>In addition to kinase-substrate interactions, this website will also host data related to protein-protein interactions and transcription factor-target interactions, found respectively in the "Protein Interaction Networks (PPI)" and "Transcription Factor-Target Interactions". This data has been similarly compiled from different PPI and TF-target databases.

				<br>
				<br><b> Where can I find additional information about these files? </b>
				<br>For all three interaction types, the processed files and information regarding processing can be found in the corresponding tabs. Tables containing this information will also include statistics regarding the data in each GMT file. The Methods section below can provide a brief overview of the data processing. 

				</p>
			</div>
		</div>
	</div>


	<div id = "info-row" class="container-fluid">
	<div class="container">
		<div class="row">
		<div class="col-12">
				<h2><b> Methods</b> </h2>
				<hr width="50%" class="my-2">
				<p> 
				<br> <b> Mining the Data </b> 
				<br> For the "Kinase-Substrate Networks", Python scripts were written for each kinase-substrate database to process the raw data in the GMT and SIG file formats. Jupyter Notebooks corresponding to these scripts can be found for each kinase-substrate database and include comments detailing the function of each code block for increased clarity. For the "Protein Interaction Networks (PPI)", there are also Jupyter Notebooks for each PPI database detailing the methods used to process the data. 
				<br>
				<br><b> Filtering the Data</b>
				<br> Only kinases or proteins which had at least five substrates or interactions and no more than 2000 substrates or interactions are included in the GMT files. However, the SIG files include all kinase-substrate interactions or protein-protein interactions regardless of the total number for a given protein or kinase. Furthermore, data was also filtered by species, so the data reflects only kinases and proteins found in humans and mice. 
				</p>	
			</div>
		</div>
		</div>
		</div>





	<div id="scripts">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</div>
</body>
</html>