<!DOCTYPE html>
<html>
<head>
	<title>Contribute</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel='shortcut icon' type = 'image/ico' href="{{url_for('static', filename='favicon.ico')}}" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/r-2.1.1/datatables.min.css"/>
<body id="home">


<div class="topnav" id="myTopnav">
    <a id= "home-page-link" href="/bionetbay"><img id="favicon" src="{{url_for('static', filename='favicon.ico')}}"></img>   BioNetBay</a>
    <a id= "page-link" href="/bionetbay/kinases">Kinase-Substrate Networks</a>
    <a id= "page-link" href="/bionetbay/proteins">Protein-Protein Networks</a>
    <a id= "page-link" href="/bionetbay/tf">TF-Target Networks</a>
    <a id= "page-link" href="/bionetbay/submission">Submissions</a>
    <a id= "page-link" href="/bionetbay/gene">Genes</a>
    <a id= "page-link" href="/bionetbay/contribute">Contribute</a>
    <a id= "page-link" href="/bionetbay/help">Help</a>
    <a id= "page-link" href="/bionetbay/about">About</a>
  </div>


<div align="center">
    <br>
    <br>
    <br>
    <br>
    <h2>Invalid password, please try again</h2>
</div>

	<div id="scripts">

    <!-- standard js -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</div>
</body>
</html>