<!DOCTYPE html>
<html>
<head>
	<title>Transcription Factor-Target Networks</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel='shortcut icon' type = 'image/ico' href="{{url_for('static', filename='favicon.ico')}}" >
</head>

<body id="home">

<div id="logo-row" class="row">
		<div class="col-4 text-center">
			<img id= "logo" src="{{url_for('static', filename='Logo.png')}}" align="left">
		</div>
		<div id="t" class="col-4 text-center">
		<p>TF-Target Networks</p>
		</div>
	</div>

<title>Kinases</title>
<div class="topnav" id="myTopnav">
 		<a href="/BINDer">Home</a>
 		<a href="/BINDer/help">Help</a>
  		<a href="/BINDer/contribute">Contribute</a>
 		<a href="/BINDer/kinases">Kinase-Substrate Networks</a>
  		<a href="/BINDer/proteins">Protein-Protein Networks</a>
  		<a href="/BINDer/tf">TF-Target Networks</a>
  </div>

	<div id="scripts">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</div>
</body>
</html>